body {
    background-color: papayawhip;
    color: navy;
}

nav {
    background-color: blanchedalmond;
    height: 10%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.content {
    border-radius: 3px;
    border-color: crimson;
    border-width: 4px;
    background-color: blanchedalmond;
}